*{
    font-family: 'Outfit',sans-serif;
    flex-shrink: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 146px;
    background: linear-gradient(0deg, #05D1F1 0%, #2828C2 100%);
    padding-left: 1px;
}
.navbar a .nav-item a{
    color: #F2F2F2;
}
.logo{
    width: 77px;
height: 82px;
flex-shrink: 0;
}
.login{
    width: 84px;
height: 44px;
flex-shrink: 0;
color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
background: transparent;
margin-left: 58px;
border-radius: 50px;
border: 1px solid #FFF;
}
.signup{
    width: 98px;
height: 44px;
flex-shrink: 0;
border-radius: 50px;
border: 1px solid #fff;
background: #FFF;
color: #2828C2;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

.section1{
    background: linear-gradient(0deg, #05D1F1 0%, #2828C2 100%);
    width: 100%;
    height: 621px;
    padding-top: 20px;
}
.heading1{
    font-size: 48px;
    padding-top: 87px;
    color: #fff;
    font-weight: bolder;
}
.para1{
    margin-top: 18px;
    color: #FFF;
}
.btn1{
    width: 169px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    color: #2828C2;
    border : 1px solid  #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 43px;
}
.btn1:hover{
    color:#fff;
    background-color: #1515b9;
    border: #1515b9 1px solid;
}
.btn2{
    width: 169px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 50px;
    background: transparent;
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    margin-left: 13px;  
}
.btn2:hover{
    color:#2828C2;
    background-color: #fff;
    border: 1px solid #fff;
    
}
.image1{
    width: 609.667px;
    height: 500.222px;
    flex-shrink: 0;
    margin-top: 0px;
}
.section2{
     width: 100%;
     height: 473px;
}
.heading2{
    font-size: 32px;
    text-align: center;
    font-weight: bolder;
    padding-top: 98px;
}
.slidingpart{
    display: grid;
    place-items: center;
    margin-top: 84px;
    
}
.slider{
    height: 119px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slide-track{
    display: flex;
    width: calc(234px * 10);
    animation: scroll 40s linear infinite;
}
.images{
    margin: 32px;
    padding: 32px;
    width: 100%;
    transition: tranform 1s;
}
.images:hover{
    transform: translateZ(20px);
}
.slide{
    height: 119px;
    width: 234px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
@keyframes scroll{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(calc(-234px * 5));
    }
}

.section3{
    background: #F8F8F8;
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;

}

 .ellipse{
    width: 194px;
height: 194px;
flex-shrink: 0;
border-radius: 50%;
padding-top: 188px;
margin-left: 150px;
margin-top:138px;
 }
 .testbtn{
    background-color:#01E4F6;
    font-size:50px;
 }
 .testimonialpara{
    padding-right: 86px;
    margin-top: 99px;
    color: #000;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-align: left;
padding-top:199px;
 }
 .client{
    color: #000;
font-family: Outfit;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 30px;
text-align:left;
 }
 .head{
    color: #2828C2;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: left;
 }
 .vr{
    width: 1px;
height: 30px;
background: #D6D6D6;
margin-left: -50px;
 }
 .axis{
    margin-top: -40px;
    margin-left: -60px;

    overflow:hidden;
 }
 .arrows{
width: 107px;
height: 48px;
flex-shrink: 0;
float: right;
padding-left:0px;
justify-content:center;
margin-right:0px;
position: relative;
 padding-top: 350px; 
margin-left: 580px; 
 }
 .arrowbtn1{
    margin-left: 590px;
    
 }
 .arrowbtn2{
    margin-right: 50px;
 }
 .case{
    color: #000;
text-align: center;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
text-align: left;
margin-right:580px;

 }
 .readcase{
    margin-right: 566px;
    margin-top: 19px;
 }

.section4{
    padding-bottom: 104px;
    width: 100%;
    height: 857px;
}
.heading4{
    font-size: 32px;
    text-align: center;
    font-weight: bolder;
    padding-top: 70px;
}
.box-left{
    border-radius: 20px;
     background: #F2F2F2;
     height: 497px; 
     width: 532px;
     flex-shrink: 0;
    
     margin-top: 45px;
}
.box-right{
     height: 497px; 
     width: 532px;
     flex-shrink: 0;
     border-radius: 20px;
     border: 1px solid #D9D9D9;
     margin-left: 0px;
     margin-top: 45px;
}
.section5{
    background: linear-gradient(90deg, #2828C2 0%, #01E4F6 100%);
    width: 100%;
    height: 1488px;

}

.heading5{
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 86px;
}
.subheading1{
margin-top: 19px;
color: #FFF;
text-align: center;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 50px;
}
.subheading2{
    color: #FFF;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 63px;
text-align: center;

}
.btn3{
    width: 169px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    color: #2828C2;
    border : 1px solid  #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 119px;
}
.btn3:hover{
    background-color: #1515b9;
    border: #1515b9 2px solid;
    color: #fff;
}
.section6{
    padding-bottom: 97px;
    width: 100%;
    height: 905px;
}
.vectorblue{
    width: 22px;
    height: 22px;
    flex-shrink: 0;
}
.heading6{
    color: #000;
text-align: center;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 104px;
}
.subheading3{
    color: #2828C2;
text-align: center;
font-family: Outfit;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 20px;
}
.subheading4{
    color: #626262;
text-align: center;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 15px;
padding-bottom: 34px;
}
.section7{
    height: 770px;
    width: 100%;
    background: linear-gradient(90deg, #01E4F6 0%, #1515b9 100%);
}
.heading7{
    color: #FFF;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 155px;
}
.heading8{
    color: #FFF;
text-align: center;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 60px;
}
.bg-gradient{
    border-radius: 25px 25px 0px 0px;
    background: linear-gradient(180deg, #070774 0%, rgba(255, 255, 255, 0.00) 100%);
    width: 467px;
    height: 387px;
    flex-shrink: 0;
    margin-top: 116px;
}
.section8{
    padding-left: 160px;
    padding-right: 160px;
    width: 100%;
    height: 649px;
}
.heading9{
    padding-top: 97px;
text-align: center;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.section9{
    background: #F8F8F8;
    width: 100%;
    height: 916px;
}
.cardesign{
    margin-left: 60px;

}

.heading10{
   padding-top: 98px;
text-align: center;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.footer{
    width: 100%;
height: 425px;
flex-shrink: 0;
background-color: #00004C;
}
.footer img{
    width: 48.83px;
height: 52px;
flex-shrink: 0;
}
.quicklinks a{
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
}
.quicklinks a :hover{
    color: #1515b9;
}
.quicklinkpara{
    font-size: 14px;
    margin-top: 10px;
    color: #FFF;
}
.btn4{
    width: 235px;
height: 53px;
flex-shrink: 0;
border-radius: 50px;
background: #2828C2;
color: #FFF;
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 70px;
margin-bottom: 96px;
border: #1515b9 2px solid;
margin-left: 400px;
}
.btn4:hover{
    background-color: #fff;
    border: #1515b9 2px solid;
    color: #1515b9;
}

.cards9{
    align-items: center;
    justify-content: center;

}
.heading11{
    color: #000;
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 68px;
margin-left: 71px;
}
.subheading5{
    color: #626262;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 71px;
margin-top: 23px;

}
.box-6{
    border-radius: 20px;
    border: 1px solid #D9D9D9; 
    height: 467px; 
    padding-right: 43px;
}
.subheading6{
    color: #FFF;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.subheading7{
    color: #FFF;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 22px;
}
.btn5{
    color: #fff; font-weight: bold;background-color: #2828C2; border: #2828C2 2px solid;
    border-radius: 50px;
background: #2828C2;
width: 235px;
height: 53px;
flex-shrink: 0;
}
.btn5:hover{
    background-color: #fff;
    color: #1515b9;
    border: #fff 2px solid;
}
.readmore{
    color: #2828C2;
     border: #2828C2 2px solid;
      background-color: #FFF;
    border-radius: 50px;
border: 1px solid #2828C2;
width: 137px;
height: 44px;
flex-shrink: 0;
color: #2828C2;
font-family: Outfit;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.readmore:hover{
  background-color: #1515b9;
  color: #FFF;
  cursor: pointer;
}
.subheading8{
    color: #626262;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 7px;
}

.line{
    color: #05D1F1;
    height: 1px;
    width: 100%;

}
.Copyright{
    color: #C1C1C1;
font-family: Outfit;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
margin-top: 15px;
margin-bottom:29px;
}
.loginpage{
    width: 100%;
    height: 1035px;
    box-sizing: border-box;
}
.loginleft{
    overflow: hidden;
    width: 100%;
    height: 1035px;
    background: linear-gradient(90deg, #2828C2 , #00D6E7 );
}
.imagelogin{
width: 517.4px;
height: 497.943px;
flex-shrink: 0;
padding-top: 221px;
padding-left: 40px;
}
.loginright{
   width: 100%;
    height: 1035px;
    background-color: #fff;
}
.logologin{
    width: 119px;
height: 126px;
flex-shrink: 0;
margin-top: 128px;
margin-left: 220px;
}
.loginheader{
    color: #2828C2;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 245px;
margin-top: 20px;
}
.signupheader{
        color: #2828C2;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 240px;
    margin-top: 20px;
    }

.formfields, input[type=email] {
    width: 450px;
height: 55px;
flex-shrink: 0;
border-radius: 50px;
border: 1px solid #8D8DF6;
margin-left: 65px;
margin-right: 0px;
background-color: #fff;
color: #6E6E6E;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
    box-sizing: border-box;
    /* background-image: url('../images/Mailbox.svg'); */
    background-position: 30px 19px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }
  section{
    width: 100%;
  }
  
 .formfields, input[type=password] {
    width: 450px;
height: 55px;
flex-shrink: 0;
border-radius: 50px;
border: 1px solid #8D8DF6;
margin-left: 65px;
margin-right: 0px;
background-color: #fff;
color: #6E6E6E;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
    box-sizing: border-box;
    /* background-image: url('../images/password.svg'); */
    background-position: 30px 15px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }
.formfields,  input[type=text] {
    width: 450px;
height: 55px;
flex-shrink: 0;
border-radius: 50px;
border: 1px solid #8D8DF6;
margin-left: 65px;
margin-right: 0px;
background-color: #fff;
color: #6E6E6E;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
    box-sizing: border-box;
    /* background-image: url('../images/Companyname.svg'); */
    background-position: 30px 15px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }
 .formfields, input[type=tel] {
    width: 450px;
height: 55px;
flex-shrink: 0;
border-radius: 50px;
border: 1px solid #8D8DF6;
margin-left: 65px;
margin-right: 0px;
background-color: #fff;
color: #6E6E6E;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
    box-sizing: border-box;
    /* background-image: url('../images/phone.svg'); */
    background-position: 30px 15px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }

.emaillogin{
    margin-top: 25px;
}

.pwlogin{
    margin-top: 20px;
}
.Rememberme{
    margin-left: 80px;
    color: #9C9C9C;
text-align: center;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 22px;
}
.forgetp{
    margin-top: 22px;
    color: #9C9C9C;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
margin-left: 160px;
}
.loginpgbtn{
    width: 450px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 50px;
background: #2828C2;
border: #2828C2 2px solid;
color: #FFF;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 70px;
margin-top: 20px;
}
.loginpgbtn:hover{
    border: #2828C2 2px solid;
    background-color: #fff;
    color: #1515b9;
}
.terms{
    color: #2828C2;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
}
.terms:hover{
    color: #2828C2;
    text-decoration: none;
}
.TandC{
    color: #9C9C9C;
text-align: center;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 43px;
padding-left: 80px;
}
.endlogin{
    color: #9C9C9C;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 200px;
margin-top: 20px;
}

.endlogin a:hover{
    color: #1515b9;
    text-decoration: none;
}
.EVsection{
    width: 100%;
    height: 1035px;
    background: linear-gradient(90deg, #FFF 0%, #EBEBEB 100%);
    padding-top: 126px;
    text-align: center;
}
.logover{
    width: 119px;
    height: 126px;
}
.headingEV{
    color: #2828C2;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 24px;
}
.emailp1{
    color: #6E6E6E;
text-align: center;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 33px;
}
.emailp2{
    color: #6E6E6E;
text-align: center;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 36px;
}
.emailp3{
    color: #6E6E6E;
text-align: center;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 55px;
}
.emailp4{
    color: #FF0014;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}
.emailp4:hover{
    color: #1515b9;
    text-decoration: none;

}
.cancelbtn{
    width: 159px;
height: 55px;
flex-shrink: 0;
border-radius: 50px;
border: 1px solid #2828C2;
color: #2828C2;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
background: transparent;
margin-top: 72px;
}
.cancelbtn:hover{
    color: #fff;
    background-color: #1515b9;

}
.verifybtn{
    width: 159px;
height: 55px;
flex-shrink: 0;
border-radius: 50px;
background: #2828C2;
border: #1515b9 2px solid;
color: #FFF;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 32px;
}
.verifybtn:hover{
    color: #1515b9;
    background: #FFF;
}
.userInputs{
    display: flex;
    justify-content: center;
}
.userInputs input{
   margin: 10px;
    height: 35px;
    width: 50px;
    border-color: #0000ff;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    background: whitesmoke;
}
.VSsection{
    width: 100%;
    height: 1035px;
    background: linear-gradient(90deg, #FFF 0%, #EBEBEB 100%);
    padding-top: 126px;
    text-align: center;
}


.enabled{
   
    color: #00D158;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
        margin-top: 23px;
}
.verified{
    color: #6E6E6E;
text-align: center;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
     margin-top: 23px;
}
.btnVS{
    width: 159px;
height: 55px;
flex-shrink: 0;
border-radius: 50px;
background: #2828C2;
border: #2828C2 2px solid;
color: #FFF;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 53px;
}
.btnVS:hover{
    background-color: #fff;
    color: #1515b9;
   
}
.navbarwhite{
    width: 100%;
    background: #fff;
    box-shadow: none;
    box-sizing: border-box;

}
.full-bleednavbar{
    box-shadow: 0 0 0 100vmax #fff;

   }
.navbarwhite a:hover{
    color: #1515b9 !important;
}
.navbarwhitelogin{
    width: 84px;
height: 44px;
flex-shrink: 0;
border-radius: 50px;
border: 1px solid #2828C2;
background-color: #fff;
color: #2828C2;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 45px;
}
.navbarwhitelogin:hover{
background-color: #2828C2;
color: #fff;
}
.navbarwhitesignup{
    width: 98px;
height: 44px;
flex-shrink: 0;
border-radius: 50px;
border: 1px solid #2828C2;
background: #2828C2;
color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-right: 80px;
}
.navbarwhitesignup:hover{
    background-color: #fff;
    color: #1515b9;
}

.bookacalltop{
    width: 100%;
height: 307px;
flex-shrink: 0;
background-color:  #D7D7FF;;
clip-path: inset(0 -100vh);
}
.full-bleed{
 box-shadow: 0 0 0 100vmax #D7D7FF;;
}
.full-bleed2{
    box-shadow: 0 0 0 100vmax #F5F5F5;
   }
.headingbookacall{
    color: #000;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 111px;
}
.bookacallimage1{
float: right;
margin-top: 7px;
width: 380px;
height: 280.22px;
flex-shrink: 0;
}
.bookacallmid{
    width: 100%;
    height: 1023px;
    background: #F5F5F5;
}
.bookacallheading1-1{
    color: #2828C2;
text-align: center;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 106px;
}
.bookacallheading1-2{
    color: #000;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.bookacallimage2{
    width: 365.84px;
    height: 363.572px;
    flex-shrink: 0;
    padding-top: 65px;
    margin-right: 316px;
    padding-bottom: 50px;
    margin-left: 0px;
}
.heading2bookacall{
    color: #000;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 10px;
}
.bookacallpoints{
    padding-top: 36px;
    margin-left: 10px;
   
}
.bookacallpoints p{
    color: #000;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.bookaclassform{
    width: 501px;
height: 676px;
flex-shrink: 0;border-radius: 20px;
background: #E9E9E9;
margin-left: 0px;
margin-top: 72px;
}
.bkform{
    margin-left:43px ;
    padding-top:30px ;
}
.bkform input{
    width: 415px;
    border-radius: 4px;
    border-radius: 4px;
    background: #FFF;
}
.bkformbtn{
    width: 165px;
height: 53px;
flex-shrink: 0;
border-radius: 50px;
background: linear-gradient(90deg, #2828C2 0%, #01E4F6 100%);
border: 1px solid rgb(96, 230, 248);
color: #FFF;
text-align: center;
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 30px;
margin-left: 128px;
}
.bkformbtn:hover{
    color: #1515b9;
    background-color: #fff;
    border: 1px solid #E9E9E9 ;
}
.blogtop{
    width: 100%;
height: 307px;
flex-shrink: 0;
background-color:  #D7D7FF;
clip-path: inset(0 -100vh);
}
.full-bleedblog{
 box-shadow: 0 0 0 100vmax #D7D7FF;
}
.full-bleed2{
    box-shadow: 0 0 0 100vmax #F5F5F5;
   }
.headingblog{
    color: #000;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 15px;
margin-top: 131px;
}
.blogimage1{
float: right;
margin-top: 7px;
margin-right: 15px;
width: 314px;
height: 275px;
flex-shrink: 0;
}

.full-bleedblog2{
    box-shadow: 0 0 0 100vmax #FFF;
}
.heading2blog{
    color: #000;
    text-align: center;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 46px;
}
.heading3blog{
    color: #2828C2;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.subheadingblog{
    color: #000;
font-family: Outfit;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 46px;
padding-bottom: 20px;
}
.blogbtn1{
    width: 160px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid #2828C2;
    color: #fff;
    text-align: center;
    background-color: #2828C2;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.blogbtn1:hover{
    background-color: #fff;
    color: #2828C2;
}





.blogbtn{
    width: 160px;
height: 50px;
flex-shrink: 0;
border-radius: 50px;
border: 1px solid #2828C2;
color: #2828C2;
text-align: center;
background-color: #fff;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-right: 15px;
margin-top: 20px;
margin-bottom: 30px;
}
.blogbtn:hover{
    color: #fff;
    border: 1px solid #2828C2;
    background-color: #2828C2;
}
.blogcards{
    padding-top: 10px;
     /* width: 362px;
     height: 440px; */
      border-radius: 20px 20px !important;
        background: #fff;
         border-color: #fff;
          box-shadow: none;
          /* margin: 31px; */
          margin-top: 0px;
}
.blogline{
    width: 1120px;
height: 1px;
background: #E6E6E8;
}
.blogcardimg{
      display: block;
       border-radius: 20px !important;
        padding: 2px;
}
.blogcardimg3{
    width: 362px;
height: 235px;
flex-shrink: 0;
display: block;
       border-radius: 20px;
        padding: 2px;
        padding-bottom: 5px;

}
.input::after{
    border: 2px solid #F8F8F8;
}
.firstrow{
    padding-left: 100px;
    padding-right: 100px;
     padding-top: 5px; 
}
.secondrow{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 32px;
}
.thirdrow{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 32px;
}
.fourthrow{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 32px;
}
.fifthrow{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 32px;
}
.blogcardimg6{
    /* width: 331px;
height: 237px; */
/* flex-shrink: 0;
display: block;
       border-radius: 20px !important;
        padding: 2px;
        padding-bottom: 5px; */

}
.dateblog{
    color: #626262;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 5px;
}
.bllogcardheading{
    color: #000;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 10px !important;
}
.blogcarddetails{
    color: #626262;
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.blogendbtn{
    color: #FFF;
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 169px;
height: 60px;
flex-shrink: 0;
border-radius: 50px;
background: #2828C2;
border: 2px solid #2828C2;
margin-top: 93px;
margin-left: 500px;
margin-bottom: 131px;
}
.blogendbtn:hover{
    color: #1515b9;
    background-color: #fff;
}
.ContactUstop{
    width: 100%;
height: 307px;
flex-shrink: 0;
background-color:  #D7D7FF;;
clip-path: inset(0 -100vh);
}
.full-bleed5{
 box-shadow: 0 0 0 100vmax #D7D7FF;;
}
.full-bleed6{
    box-shadow: 0 0 0 100vmax #F5F5F5;
   }
.headingContactUs{
    color: #000;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 111px;
}
.contactusimage1{
float: right;
margin-top: 7px;
margin-right: 150px;
width: 380px;
height: 280.22px;
flex-shrink: 0;
}
.contactusmid{
    width: 100%;
    height: 1023px;
    background: #F5F5F5;
}
.contactusheading1-1{
    color: #2828C2;
text-align: center;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 106px;
}
.contactusheading1-2{
    color: #000;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.contactusimage2{
    width: 365.84px;
    height: 363.572px;
    flex-shrink: 0;
    padding-top: 65px;
    margin-right: 316px;
    padding-bottom: 50px;
    margin-left: 0px;
}
.heading2bookacall{
    color: #000;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 68px;
}
.contactusdetails{
    color: #000;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 3px;
margin-left: 12px;
}
.contactusicon{
    width: 38px;
height: 38px;
flex-shrink: 0;
background-color: #2828C2;
border-radius: 50px;
text-align: center;
padding-top: 5px;
}
.icondetail{
    color: #000;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top:4px;

}
.pptop{
    width: 100%;
height: 307px;
flex-shrink: 0;
background-color:  #D7D7FF;;
clip-path: inset(0 -100vh);
}
.full-bleed7{
 box-shadow: 0 0 0 100vmax #D7D7FF;;
}
.full-bleed8{
    box-shadow: 0 0 0 100vmax #F5F5F5;
   }
.headingpp{
    color: #000;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 10px;
margin-top: 111px;
}
.ppimage1{
float: right;
margin-top: 7px;
margin-right: 150px;
width: 274px;
height: 277px;
flex-shrink: 0;
}
.ppmid{
    width: 100%;
    background: #F5F5F5;
    margin-bottom: 35px;
}
.ppdetails{
    color: #000;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-align: justify;
}
.ppsubheading{
    color: #000;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.aboutuspage{
width: 100%;
}
.AboutUstop{
    width: 100%;
height: 307px;
flex-shrink: 0;
background-color:  #D7D7FF;
clip-path: inset(0 -100vh);
}
.full-bleed9{
 box-shadow: 0 0 0 100vmax #D7D7FF;
}
.full-bleed10{
    box-shadow: 0 0 0 100vmax #F5F5F5;
   }
.headingAboutUs{
    color: #000;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 15px;
margin-top: 111px;
}
.aboutusimage1{
    float: right;
    margin-top: 7px;
    margin-right: 15px;
    width: 380px;
    height: 280.22px;
    flex-shrink: 0;
    }
    .aboutusmid{
        width: 100%;
        height: 1995px;
        background: #F5F5F5;
        padding-bottom: 40px;
    }
    .aboutusheading1-1{
        color: #2828C2;
    text-align: center;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 56px;
    }
    .aboutusheading1-2{
        color: #000;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
    .aboutusp{
        color: #000;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
padding-top: 10px;
    }
.aboutsubheading1{
    color: #000;
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 41px;
}
.aboutsubp{
    padding-top: 9px;
    color: #000;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-align: left;
padding-right: 10px;
}
.aboutusimg1{
width: 300px;
height: 250px;
flex-shrink: 0;
padding-top: 61px;
padding-right: 2px;
}
.aboutusimg2{
width: 555px;
height: 416.576px;
flex-shrink: 0;
padding-right: 8px;
}

.blogdetailsmid{
    height: 2907px;
    background-color: #fff;
    flex-shrink: 0;
    margin-top: 20px;
}
.blogdetailsa{
    color: #626262;
font-family: Outfit;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 43px;
}
.blogdetailsa:hover{
    color: #2828C2;
font-family: Outfit;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.vectorgrey{
    width: 4px;
height: 8px;
flex-shrink: 0;
stroke-width: 1px;
stroke: #626262;
}
.blogg{
    padding-top: 20px;
}
.headingblogdetailsh1{
    color: #000;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 43px !important;
}
.paramita{
    width: 70px;
height: 70px;
flex-shrink: 0;
border-radius: 50px;

}
.paramitaname{
    color: #000;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 50px;
}
.paramitaseo{
    color: #AAA;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 25px;
padding-bottom: 30px;
}
.mainimgblog{
    width: 1120px;
height: 784px;
flex-shrink: 0;
border-radius: 15px;
/* padding-bottom: 50px; */
}
.leftblogbox{
    width: 352px;
height: 352px;
flex-shrink: 0;
border-radius: 20px;
border: 1px solid #E0E0E0;

}
.leftblogheading{
    color: #000;
font-family: Outfit;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 25px;
margin-top: 15px;
}
.liblog{
    color: #263238;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
padding-left: 15px;
}
.rightblogbox{
    width: 740px;
height: 352px;
flex-shrink: 0;
border-radius: 20px;
border: 1px solid #E0E0E0;

}
.liliblog{
    color: #000;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.iconblog:hover{
    fill: #2828C2;
}
.iconblogs{
   border-radius: 50px;
   width: 38px;
height: 38px;
flex-shrink: 0;
padding: 5px 5px 5px;
background-color: #263238;
border: 2px solid #263238;
    
}
.iconblogs:hover{
    background-color: #2828C2;
    border: 2px solid #2828C2;
}
.subpblog{
    color: #000;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
padding-left: 20px;
}
.subpheadingblog{
    color: #000;
font-family: Outfit;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 20px;
}
.arrows2{
    width: 107px;
    height: 48px;
    flex-shrink: 0;
    float: right;
    padding-left:0px;
    justify-content:center;
    margin-right:0px;
    position: relative;
     padding-top: 35px; 
    margin-left: 580px; 
     }
     .arrowbtn3{
        margin-left: 420px;
        
     }
     .arrowbtn4{
        margin-right: 50px;
     }
     
     .blogdetailcardscarousel{
      
     }
     .cardsbg{
       
     }

     
     .blogdetailcardscarousel2{
        /* padding-left: 100px; */
     }
     .TANDCimage1{
        
        width: 338.105px;
        height: 251.929px;
        flex-shrink: 0;
        margin-top: 27px;
        margin-left:150px;
     }
     .tcheading1-1{
        color: #2828C2;
        text-align: center;
        font-family: Outfit;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-top: 56px;
     }
     .tcheading1-2{
        color: #000;
        text-align: center;
        font-family: Outfit;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-top: 56px;
     }
     /* faq page */
     .faqsmid{
        height: 1023px;
     }
     .faqsubheading{
        color: #2828C2;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 56px;
text-align: center;
     }
     .faqmainheading{
        margin-top: 7px;
        text-align: center;
        color: #100F10;
        font-family: Outfit;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
     }
     .faqmainheading1{
        color: #2828C2;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
     }
     .faqparamain{
        color: #5B5B5B;
text-align: center;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 22px; 
padding-bottom: 38px;
}

.faqbtn{
    width: 169px;
height: 53px;
flex-shrink: 0;
border-radius: 50px;
background: #2828C2;color: #FFF;
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 62px;
margin-bottom: 63px;
border: 2px solid #2828C2;
margin-left: 476px;
}
.faqbtn:hover{
    background-color: #fff;
    color: #2828C2;
}
hr{
    background: #E7E7E7;
    height: 1px;  
}
.accminus{
    float: right;
    
    
}
.accminus:focus-within{
    display: none;
   
}
.accbox .acccard{
    box-shadow: none !important;
}
.acccard:p{
}
/* bharat esign */
.bharatheading1{
    color: #100F10;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 83px;
text-align: center;
}
.bharatheadingp{
    color: #5B5B5B;
text-align: center;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 22px; /* 137.5% */
}
.bharatbtn1{
    width: 200px; 
height: 50px;
flex-shrink: 0;
border-radius: 50px;
background: #2828C2;
color: #FFF;
text-align: center;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 35px;
border: 2px solid #2828C2;
}
.bharatbtn1:hover{
    background-color: #fff;
    color: #2828C2;
}
.bharatbtn2{
    width: 160px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
border: 1px solid #2828C2;
color: #000;
text-align: center;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 14px;
margin-top: 35px;
margin-bottom: 57px;
}
.bharatbtn2:hover{
    background-color: #2828C2;
    color: #fff;
}
.bharatbox{
    width: 1120px;
height: 520px;
flex-shrink: 0;
border-radius: 25px;
background: linear-gradient(180deg, #2828C2 0%, #01E4F6 100%);

}
.bharatsec3{
    background: #F8F8F8;
height: 718px;
flex-shrink: 0;
}
.bharatsec3heading{
    color: #100F10;
text-align: center;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 65px;
margin-bottom: 61px;
}
.bharatbtns{
    width: 216px;
    height: 60px;
    background-color: #2828C2;
    border: #2828C2 2px solid;
    border-radius: 100px;
    color: #FFF;
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.bharatbtns1:focus{
    background-color: #2828C2;
    color: #fff;
}
.bharatbtns1{
    width: 216px;
    height: 60px;
    background-color: #fff;
    border-radius: 100px;
border: 1px solid #2828C2;
    color: #2828C2;
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 20px;
}
.bharatsubhead{
    color: #100F10;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 64px;
}
.bharatsubp{
    color: #000;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.bharatrmbtn{
    width: 137.427px;
height: 44px;
flex-shrink: 0;
border-radius: 50px;
border: 1px solid #2828C2;
color: #2828C2;
font-family: Outfit;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
background-color: transparent;
margin-top: 31px;
margin-bottom: 73px;
}
.bharatrmbtn:hover{
    background-color: #2828C2;
    color: #fff;
}
.dscbtn{
    color: #FFF;
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 216px;
height: 60px;
flex-shrink: 0;
background-color: #2828C2;
border: #2828C2 2px solid;
margin-top: 20px;
border-radius: 100px;
border: 2px solid #2828C2;
}
.dsc2btn{
        color: #2828C2;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 216px;
    height: 60px;
    flex-shrink: 0;
    background-color: #fff;
    border: #2828C2 2px solid;
    margin-top: 20px;
    border-radius: 100px;
    border: 2px solid #2828C2;
    }
    .bharatsubp2{
        color: #000;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
    }
    .bharatsubhead2{
        color: #100F10;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
    }
    .bharatesignsec5{
       
height: 1582px;
flex-shrink: 0;
background-color: #F8F8F8;
    }
.bharatwbox{
    width: 1120px;
height: 394px;
flex-shrink: 0;
background-color: #fff;
padding-top: 30px;
}
.bg-gradientbharat{
    border-radius: 25px;
background: linear-gradient(180deg, #2828C2 0%, rgba(255, 255, 255, 0.16) 100%);
width: 480px;
height: 354px;
flex-shrink: 0;
}
.bharatbgwh{
    color: #FFF;
font-family: Outfit;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 55px;
}
.bharatbgwh p{
    color: #000;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.bharataccessbtn{
    width: 195px;
height: 44px;
flex-shrink: 0;
border-radius: 50px;
border: 1px solid #2828C2;
color: #2828C2;
font-family: Outfit;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
background-color: transparent;
margin-top: 19px;
margin-bottom: 184px;
}
.bharataccessbtn:hover{
    background-color: #2828C2;
    color: #fff;
}
.bharatrow1{
    /* padding-top: 75px; */
    padding-left: 134px;
}
.iconboxbharat{
    width: 318px;
height: 75px;
flex-shrink: 0;
border-radius: 100px;
background: #FFF;
color: #000;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
/* margin: 34px; */
}
.bharaticonsvg{
    padding-top : 10px;
}
.iconheadingbharat{
    color: #000;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
/* document assembly */
.DAh5{
    padding-top: 56px;
    color: #2828C2;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
}
.DAheading{
    color: #100F10;
text-align: center;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.DAheadingp{
    color: #5B5B5B;
text-align: center;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 22px; /* 137.5% */
margin-top: 10px;
padding-bottom: 69px;
}
.DAbox3{
    width: 352px;
height: 229px;
flex-shrink: 0;
border-radius: 20px;
background: #407BFF;
text-align: center;
margin-bottom: 100px;
margin-left: 32px;
}
.DAicon{
    margin-top: 35px;
    margin-left: 109px;
    text-align: center;
    width: 94px;
height: 94px;
flex-shrink: 0;
background-color: #fff;
border-radius: 50px;
padding: 28px;
}
.DAboxp{
    margin-top: 25px;
   
    color: #FFF;
text-align: center;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.DAsec3{
    height: 528px;
    background: #F8F8F8;
   
}
.DAheadingsec3{
    color: #100F10;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 80px;
}
.DAheadingpsec3{
    color: #000;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
margin-top: 15px;
}
.DAsec4box{
    padding-top: 81px;
}
.DAsec4box h3{
    color: #100F10;
font-family: Outfit;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.DAsec4box p{
    color: #000;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.DAsec4box button{
    color: #2828C2;
    background-color: #fff;
font-family: Outfit;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 270px;
height: 44px;
flex-shrink: 0;
border-radius: 50px;
border: 1px solid #2828C2;
margin-bottom: 100px;
}
.DAsec4box button:hover{
    background-color: #2828C2;
    color: #fff;
}
.DAlast{
    height: 575px;
    background: linear-gradient(90deg, #01E4F6 0%, #2828C2 100%);
}
.DAlast h2{
    color: #FFF;
text-align: center;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 98px;
margin-bottom: 45px;
}
.DAlastbox{
    width: 256px !important;
height: 236px !important;
flex-shrink: 0;
border-radius: 25px;
background: #FFF;
margin: 10px;
}
.DAiconlast{
    margin-left: 71px;
    margin-top: 35px;
    width: 94px;
height: 94px;
flex-shrink: 0;
background-color: #2828C2;
border-radius: 50px;
padding: 30px;
}
.DAlastboxp{
    color: #000;
text-align: center;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 19px;
}



/* --------------------------------Ankittt-------------------------------- */

.FirstButtonaSection{
    display: flex !important;
    justify-content: center !important;
    width: 100%;
}
.bharatrow1 {
    padding: 20px !important;
}
.iconboxbharat {
    width: 300px;
    padding-left: 50px;
}
/* this is for make div center */
.bharatrowfirst{
    display: flex !important;
    justify-content: center !important;
}
.bharatbox {
    height: auto !important;
}
.bharatimg2{
    width: 100% !important;
}
.bg-gradientbharat{
    width: 100% !important;
}
.forfullwidth{
    width: 100%;  /* for-making-image-100% */
}
.imagesizefixed{
    width: 100% !important;
}
.buttonesign{
    margin-left: 17px;
    
}
.buttonofaadharesign{
    margin-bottom:12px;
}
.bharatsec3container{
    height:auto !important
}
.bharatwbox {
    height: auto !important;
}
.section7 {
    height: auto !important;
}
.bharatesignsec5 {
    height: auto !important;
}
.btn5 {
    margin-bottom: 12px !important;
}
@media only screen and (max-device-width:1200px) {
    .iconboxbharat {
        width: 250px;
    }
    .MainDivBoxBharatSign{
        /* padding-left: 50px !important; */
        width: 100% !important;
    }
    .iconboxbharat {
        padding-left: 15px;
    }
    
}
@media only screen and (max-device-width:990px){
    .iconboxbharat {
        margin-left: 5px;
        margin-right: 5px;
        width: 200px;
        height: 70px;
    }
    .coloumtext{
        padding-left: 35px;
    }

}
@media only screen and (max-device-width:770px){
    .thirdcoloumtext{
        margin-top:12px;
    }
}
@media only screen and (max-device-width:500px){
    .iconboxbharat {
        width: 320px;
        margin-top: 23px;
        height: 70px;
    }
    
    .thirdcoloumtext{
        margin-top:23px
    }
    .bharatrowfirst{
        margin-top: -35px;
    }
    .MainDivBoxBharatSign{
       padding: 35px;
    }
    .buttonofaadharesign{
        width: 175px;
    }
    .bharatsec3heading {
        font-size: 24px;
        margin-top: 50px;
        margin-bottom: 15px;
    }
    .bharatsubhead {
        font-size: 19px;
        font-weight: 500;
        /* line-height: normal; */
        margin-top: 15px;
    }
    .bharatrmbtn {
        width: 131.427px;
        height: 40px;
        font-size: 13px;
        margin-top: 1px;
        margin-bottom: 1px;
    }
    .bharatsubp {
        font-size: 11px;
    }
    .dscbuttonsmallscreen {
        font-size: 14px;
        width: 120px;
        height: 35px;
        margin-top: 0px;
        margin-left: 8px;
    }
    .bharatsubhead2 {
        margin-top: 12px;
        font-size: 27px;
    }
    .bharatsubp2 {
        font-size: 11px;
    }
    .blueSectionrow{
        flex-direction: column;
    }
    .bluesectionimg{
        width: 100%;
    }
    .heading2 {
        font-size: 25px;
        padding-top: 35px;
    }
    .esignlegalvalidsubheading{
        width: 100%;
    }
}
@media (max-width:400px) {
    .bharatbtn1 {
        width:47%
    }
    .pt-5 {
        padding-top: 0rem!important;
    }
    .m-5 {
        margin: 0rem!important;
    }
    .btn5 {
        margin-bottom: 12px;
    }
}
@media (max-width:578px)and(min-width:500px) {

    .dscbuttonsmallscreen{
    font-size: 18px;
    width: 175px;
    height: 48px;
    margin-top: 0px;
    }
}
